#header-admin {
    width: 100%;
    height: 60px;
}

.bg-immo,
#header-admin, #btn-add, #btn-update, #btn-delete, #btn-export, #btn-preview, #btn-xml {
    background-color: #778899;
}

#navMobile-admin,
#navFullscreen-admin,
#content-admin {
    background-color: #f0f0f0;
}

#navFullscreen-admin,
#content-admin {
    margin-top: 10px;
    border: 2px solid black;
}

#navFullscreen-admin,
#navF-admin {
    display: none;
}

.img-display{
    height: 250px;
    width: 100%;
}

.icon-admin {
    color: white;
    font-size: 30px;
}

.icon-table {
    font-size: 20px;
}

a:hover {
    color: rgb(235, 250, 255);
}

#logo-admin {
    height: 50px;
}

#navMobile-admin {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: block;
}

#bloc-content-admin {
    padding: 0px;
}

.btn-delete, .btn-seen{
    background-color: transparent; 
    border-color: transparent; 
}

.error{
    font-size: 12px;
    font-weight: bold;
    color: red;
}

/* TAILLE TELEPHONE */
@media (max-width: 575.98px) {
    #content-admin {
        margin: 0;
        border: 0px;
        background-color: white;
    }
}

.bg-unseen{
    background-color: #bebebe;
}

/* TAILLE IPAD */
@media (min-width: 576px) and (max-width: 767px) {
    #content-admin {
        margin: 0;
        border: 0px;
        background-color: white;
    }
}

/* TAILLE ECRAN MOYEN */
@media (min-width: 768px) and (max-width: 991px) {

    #navFullscreen-admin,
    #navF-admin {
        display: block;
    }

    #navFullscreen-admin,
    #navF-admin,
    #content-admin {
        min-height: 1050px;
    }

    #navMobile-admin {
        display: none;
    }

    #bloc-content-admin {
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

/* TAILLE ECRAN GRAND */

@media (min-width: 992px) {

    #navFullscreen-admin,
    #navF-admin {
        display: block;
    }

    #navFullscreen-admin,
    #navF-admin,
    #content-admin {
        min-height: 1050px;
    }

    #navMobile-admin {
        display: none;
    }

    #bloc-content-admin {
        padding-right: 10px;
        padding-bottom: 10px;
    }
}