#header {
    height: 200px;
}

#content {
    background-color: white;
}

#carousel{
    height: 200px;
}

.img-carousel{
height: 200px;
width: 100%;
}

body,
#btn-contact,
#header,
#footer,
#btnInscription,
#btnLogin,
#btn-add {
    background-color: #778899;
}

.error {
    font-size: 12px;
    font-weight: bold;
    color: red;
}

#btn-contact, #btn-add {
    margin-bottom: 10px;
}


.btnLg {
    display: none;
}

.menu-lg {
    display: none;
}

.filter{
    border: 2px solid black;
}

.menu-sm, .filter {
    background-color: #f0f0f0;
}

.footer {
    height: 200px;
}

i {
    font-size: 40px;

}

ul li {
    list-style-type: none;
}

.card-properties {
    width: 400px;
    height: 250px;
}

#btnLg,
#btnSm,
#btnProposeLg,
#btnSm {
    background-color: #f0f0f0;
}

/*.listeAnnonces {*/
/*    display: none;*/
/*}*/
.partenaire {
    justify-content: center;
}

#partner {

    width: 50px;
    height: 50px;
}

/*.imgDetailLg{*/
/*    display: none!important;*/
/*}*/


/* TAILLE IPAD */
@media (min-width: 576px) and (max-width: 770px) {}

/*taille telephone*/
@media (max-width: 575.98px) {}

/* TAILLE ECRAN GRAND */

@media (min-width: 992px) {

    #header {
        height: 100px;
    }

    .btnSm {
        display: none;
    }

    .btnLg {
        display: block;
    }

    .btnInscription {
        height: 40px;
    }

    .menu-lg {
        display: block;
        height: 40px;
        background-color: #f0f0f0;
    }

    .menu-sm {
        display: none;
    }

    li a:hover {
        background-color: #778899;
    }

  

    .card-index {
        width: 300px;
        margin-left: 20px;
    }

    ul li {
        display: inline-block;
        margin-left: 50px;

    }

    #formListeLg {
        background-color: #f0f0f0;
        border: 1px solid black;
    }

    .partenaire {
        justify-content: space-between;
    }

    #partner {
        width: 100px;
        height: 100px;
    }

    #product-preview1 {
        width: 100%;
    }

    #product-preview2,
    #product-preview3 {
        width: 100%;
    }

    #infosDetail {
        margin-bottom: 40px;
    }

    i {
        height: 10px;
        width: 10px;
    }

}